<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="Default" class="org.apache.log4j.FileAppender">
    <param name="File" value="target/configurator.log"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <logger name="com.comcast">
    <level value="DEBUG"/>
    <appender-ref ref="Default"/>
  </logger>

  <root>
    <priority value="ERROR"/>
    <appender-ref ref="Default" />
  </root>

</log4j:configuration>

